.landingPageChild {
  top: -413px;
  left: 1115.43px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    #edfc43,
    rgba(217, 217, 217, 0)
  );
  width: 557.18px;
  height: 554.16px;
}
.landingPageChild,
.landingPageInner,
.landingPageItem {
  position: absolute;
  border-radius: 50%;
  transform: rotate(25.71deg);
  transform-origin: 0 0;
}
.landingPageItem {
  top: 2038px;
  left: 1301.43px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    #edfc43,
    rgba(217, 217, 217, 0)
  );
  width: 557.18px;
  height: 554.16px;
}
.landingPageInner {
  top: 1970px;
  left: 342.12px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    #ff69f0,
    rgba(217, 217, 217, 0)
  );
  width: 1063.98px;
  height: 1058.21px;
}
.rectangleDiv {
  position: absolute;
  top: 2614px;
  left: 0;
  background: linear-gradient(180deg, #190e46, #2e2c36);
  width: 1512px;
  height: 1542px;
}
.ellipseDiv,
.landingPageChild1 {
  position: absolute;
  border-radius: 50%;
  transform: rotate(25.71deg);
  transform-origin: 0 0;
}
.ellipseDiv {
  top: 1209px;
  left: 64.64px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    #ff69f0,
    rgba(217, 217, 217, 0)
  );
  width: 533.22px;
  height: 522.38px;
}
.landingPageChild1 {
  top: 399px;
  left: 522.74px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    #43fc6c,
    rgba(217, 217, 217, 0)
  );
  width: 557.18px;
  height: 527.22px;
}
.landingPageChild2 {
  top: -159px;
  left: 33.74px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    #43fc55,
    rgba(217, 217, 217, 0)
  );
  width: 557.18px;
  height: 527.22px;
}
.landingPageChild2,
.landingPageChild3,
.landingPageChild4 {
  position: absolute;
  border-radius: 50%;
  transform: rotate(25.71deg);
  transform-origin: 0 0;
}
.landingPageChild3 {
  top: 259px;
  left: 1430px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    #ff69f0,
    rgba(217, 217, 217, 0)
  );
  width: 533.22px;
  height: 522.38px;
}
.landingPageChild4 {
  top: 249px;
  left: -137.55px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    #edfc43,
    rgba(217, 217, 217, 0)
  );
  width: 1016.88px;
  height: 962.19px;
}
.payonweb,
.pow {
  position: absolute;
}
.pow {
  top: -6px;
  left: 63px;
  letter-spacing: -0.29px;
}
.payonweb {
  height: 47.5%;
  width: 6%;
  top: 27.5%;
  right: 94%;
  bottom: 25%;
  left: 0;
  text-align: center;
  font-size: var(--font-size-5xl);
  font-family: var(--font-poppins);
}
.faAngleDown,
.faAngleDown1 {
  width: 0.96%;
  top: calc(50% - 8.02px);
  font-size: var(--font-awesome-size);
  font-family: var(--font-awesome);
  text-align: center;
  height: 16.74px;
}
.faAngleDown {
  position: absolute;
  left: 26.83%;
  display: inline-block;
}
.faAngleDown1 {
  left: 37.88%;
}
.about,
.faAngleDown1,
.faAngleDown2 {
  position: absolute;
  display: inline-block;
  opacity: 0.3;
}
.faAngleDown2 {
  width: 0.96%;
  top: calc(50% - 8.02px);
  left: 47.81%;
  font-size: var(--font-awesome-size);
  font-family: var(--font-awesome);
  text-align: center;
  height: 16.74px;
}
.about {
  width: 6.15%;
  top: calc(50% - 11.61px);
  left: 41.07%;
  letter-spacing: 2px;
  line-height: 26px;
  text-transform: uppercase;
}
.resources {
  width: 7.93%;
  top: calc(50% - 12px);
  left: 52.41%;
  height: 26px;
  opacity: 0.3;
}
.industries,
.products,
.resources {
  position: absolute;
  letter-spacing: 2px;
  line-height: 26px;
  text-transform: uppercase;
  display: inline-block;
}
.industries {
  width: 7.64%;
  top: calc(50% - 12px);
  left: 30.02%;
  height: 26px;
  opacity: 0.3;
}
.products {
  width: 6.75%;
  top: calc(50% - 11.61px);
  left: 19.72%;
  height: 25.61px;
}
.login {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 49px;
  height: 40px;
  flex-shrink: 0;
}
.bookDemo,
.login {
  position: relative;
  line-height: 100%;
}
.bookDemoWrapper,
.signupWrapper {
  border-radius: var(--br-9xs);
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-5xl);
  box-sizing: border-box;
}
.bookDemoWrapper {
  border: 1px solid var(--blue-gray-900);
  width: 144px;
}
.signupWrapper {
  align-self: stretch;
  background-color: var(--blue-gray-900);
  width: 124px;
  color: var(--blue-gray-50);
}
.loginParent,
.menu {
  position: absolute;
  top: 0;
}
.loginParent {
  left: 947.59px;
  width: 399.41px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 36px;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.menu {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}
.menuWrapper {
  position: absolute;
  top: 22px;
  left: 53px;
  width: 1347px;
  height: 40px;
  font-size: var(--text-label-size);
  color: var(--colors-heading);
  font-family: var(--text-label);
}
.home1RectChild,
.manWorkingOnNftBlockchain {
  position: absolute;
  top: 192px;
  left: 727px;
  width: 667.14px;
  height: 662px;
}
.home1RectChild {
  top: 0;
  left: 0;
  border-radius: var(--br-41xl) var(--br-41xl) var(--br-281xl) var(--br-41xl);
  background: linear-gradient(136.17deg, #4d70ed, #c952e7);
  filter: blur(0);
  width: 1278px;
  height: 701px;
}
.growYourRevenue,
.swiftSimpleSecure,
.weHelpBusinesses {
  position: absolute;
  top: 352px;
  left: 55px;
  line-height: 100%;
  display: inline-block;
  width: 772px;
  height: 95px;
}
.growYourRevenue,
.swiftSimpleSecure {
  top: 173px;
  left: 52px;
  font-size: var(--font-size-42xl);
  width: 761px;
  height: 113px;
}
.swiftSimpleSecure {
  top: 78px;
  left: 55px;
  font-size: var(--font-size-18xl);
  font-weight: 500;
  width: 334px;
  height: 37px;
}
.experienceItChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 18.67px;
  background-color: var(--color-lightskyblue);
  box-shadow: 4px 4px 0.6px rgba(0, 0, 0, 0.5),
    4px 4px 11.4px rgba(255, 252, 252, 0.5) inset;
  filter: blur(0.7px);
  width: 236.75px;
  height: 76.92px;
  opacity: 0.75;
}
.experienceIt1 {
  position: absolute;
  top: 24.65px;
  left: 40.33px;
  line-height: 100%;
  font-weight: 500;
  display: inline-block;
  width: 156.83px;
  height: 27.63px;
}
.experienceIt {
  position: absolute;
  top: 569px;
  left: 55px;
  width: 236.75px;
  height: 76.92px;
  font-size: 26.89px;
  color: var(--color-white);
}
.home1Rect {
  position: absolute;
  top: 92px;
  left: 118px;
  width: 1278px;
  height: 701px;
  color: var(--color-aliceblue-100);
}
.manWorkingOnNftBlockchain1 {
  position: absolute;
  top: 157px;
  left: 971px;
  width: 518px;
  height: 484px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.landingPageChild5 {
  position: absolute;
  top: 607px;
  left: 1229px;
  border-radius: 50%;
  background: radial-gradient(
    50% 50%at 50% 50%,
    #edfc43,
    rgba(217, 217, 217, 0)
  );
  width: 557.18px;
  height: 554.16px;
  transform: rotate(25.71deg);
  transform-origin: 0 0;
}
.landingPageChild6 {
  top: 1415px;
  left: 1110.77px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    #43fc55,
    rgba(217, 217, 217, 0)
  );
  width: 647.38px;
  height: 612.56px;
}
.landingPageChild6,
.landingPageChild7,
.landingPageChild8 {
  position: absolute;
  border-radius: 50%;
  transform: rotate(25.71deg);
  transform-origin: 0 0;
}
.landingPageChild7 {
  top: 1678px;
  left: -100.26px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    #43fc55,
    rgba(217, 217, 217, 0)
  );
  width: 557.18px;
  height: 527.22px;
}
.landingPageChild8 {
  top: 1008px;
  left: 338.64px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    #ff69f0,
    rgba(217, 217, 217, 0)
  );
  width: 533.22px;
  height: 522.38px;
}
.home2RectChild {
  position: absolute;
  top: 0;
  left: 89px;
  border-radius: var(--br-41xl) var(--br-41xl) var(--br-41xl) var(--br-281xl);
  background: linear-gradient(136.17deg, #4d70ed, #c952e7);
  filter: blur(0);
  width: 1278px;
  height: 701px;
}
.convertYourFlat {
  position: absolute;
  top: 350px;
  left: 631px;
  line-height: 100%;
  display: inline-block;
  width: 677px;
  height: 95px;
}
.multiCurrencySwap {
  margin: 0;
}
.multiCurrencySwapWithContainer,
.swiftEasy {
  position: absolute;
  top: 173px;
  left: 631px;
  font-size: var(--font-size-42xl);
  line-height: 100%;
  display: inline-block;
  width: 761px;
  height: 113px;
}
.swiftEasy {
  top: 78px;
  font-size: var(--font-size-18xl);
  font-weight: 500;
  width: 334px;
  height: 37px;
}
.experienceItItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 18.67px;
  background-color: var(--color-lightskyblue);
  box-shadow: 4px 4px 0.6px rgba(0, 0, 0, 0.5),
    4px 4px 11.4px rgba(255, 252, 252, 0.5) inset;
  filter: blur(0.7px);
  width: 237px;
  height: 76.92px;
  opacity: 0.75;
}
.exploreMore {
  position: absolute;
  top: 25px;
  left: 39px;
  line-height: 100%;
  font-weight: 500;
  display: inline-block;
  width: 160px;
  height: 27px;
}
.experienceIt2 {
  position: absolute;
  top: 566px;
  left: 630px;
  width: 237px;
  height: 76.92px;
  font-size: 26.89px;
  color: var(--color-white);
}
.nftWallet1280x1067 {
  position: absolute;
  top: 43px;
  left: 0;
  width: 656px;
  height: 583.63px;
  object-fit: cover;
}
.home2Rect {
  position: absolute;
  top: 849px;
  left: 29px;
  width: 1392px;
  height: 701px;
  color: var(--color-aliceblue-100);
}
.trustedByBusinesses {
  position: absolute;
  top: 1599px;
  left: 511px;
  font-size: 48px;
  line-height: 100%;
  font-weight: 500;
  display: inline-block;
  width: 489px;
  height: 39px;
}
.span {
  font-weight: 500;
  color: var(--colors-heading);
}
.wereHereTo,
.whatWeDo,
.withPayonwebYouContainer {
  position: absolute;
  top: 272px;
  left: 0;
  line-height: 100%;
  display: inline-block;
  width: 780px;
  height: 95px;
}
.wereHereTo,
.whatWeDo {
  top: 95px;
  font-size: var(--font-size-42xl);
  width: 761px;
  height: 113px;
}
.whatWeDo {
  top: 0;
  font-size: var(--font-size-18xl);
  font-weight: 500;
  color: var(--colors-heading);
  width: 334px;
  height: 37px;
}
.asSeenOn,
.home3 {
  position: absolute;
  top: 1902px;
  left: 131px;
  width: 780px;
  height: 367px;
}
.asSeenOn {
  top: 2348px;
  left: 693px;
  font-size: var(--font-size-5xl);
  line-height: 100%;
  display: inline-block;
  width: 127px;
  height: 25px;
}
.zaobao1Icon {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  transform: scale(1.047);
}
.wrapperMandalaClub1,
.wrapperPitstopTyres1,
.wrapperZaobao1 {
  position: relative;
  width: 298px;
  height: 170px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 8;
}
.wrapperMandalaClub1,
.wrapperPitstopTyres1 {
  z-index: 7;
}
.wrapperMandalaClub1 {
  z-index: 6;
}
.wrapperForbes1,
.wrapperFrame221,
.wrapperImgV22c7674ff188b4,
.wrapperLumin2,
.wrapperMoneyFm1,
.wrapperTheBusinessTimes1 {
  position: relative;
  width: 298px;
  height: 170px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}
.wrapperFrame221,
.wrapperImgV22c7674ff188b4,
.wrapperLumin2,
.wrapperMoneyFm1,
.wrapperTheBusinessTimes1 {
  z-index: 4;
}
.wrapperFrame221,
.wrapperImgV22c7674ff188b4,
.wrapperLumin2,
.wrapperMoneyFm1 {
  z-index: 3;
}
.wrapperFrame221,
.wrapperImgV22c7674ff188b4,
.wrapperLumin2 {
  z-index: 2;
}
.wrapperFrame221,
.wrapperImgV22c7674ff188b4 {
  z-index: 1;
}
.wrapperImgV22c7674ff188b4 {
  z-index: 0;
}
.wrapperZaobao1Parent {
  position: absolute;
  top: 2384px;
  left: -46px;
  width: 3954px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 42px;
}
.frameChild {
  position: absolute;
  top: 804px;
  left: -131px;
  border-radius: var(--br-81xl) var(--br-81xl) 0 0;
  background: linear-gradient(104.53deg, #090909, #12111d);
  box-shadow: 0 4px 4px #000, 5px 5px 11.7px rgba(18, 17, 29, 0.5) inset;
  width: 1512px;
  height: 691px;
}
.vectorIcon {
  position: relative;
  width: 16px;
  height: 16px;
  object-fit: cover;
}
.item {
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-deepskyblue-100);
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.vectorIcon2 {
  position: relative;
  width: 22px;
  height: 16px;
  object-fit: cover;
}
.item2 {
  border-radius: var(--br-31xl);
  border: 1px solid #59b7f0;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.itemChild {
  position: relative;
  width: 15.65px;
  height: 16px;
  object-fit: cover;
}
.item3,
.socialmedia {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.item3 {
  border-radius: var(--br-31xl);
  border: 1px solid #55baf1;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
}
.socialmedia {
  position: absolute;
  top: 1131px;
  left: -25px;
  width: 378px;
  gap: var(--gap-21xl);
}
.aboutUs,
.careers,
.referral,
.requestDemo,
.whoAreWe {
  position: relative;
  line-height: 100%;
  display: inline-block;
  width: 184px;
  height: 29px;
  flex-shrink: 0;
}
.aboutUs,
.careers,
.referral,
.whoAreWe {
  width: 125px;
}
.careers,
.referral,
.whoAreWe {
  font-size: var(--font-size-xl);
  font-weight: 500;
  width: 128px;
  height: 23px;
}
.careers,
.referral {
  width: 92px;
}
.referral {
  width: 87px;
}
.requestDemoParent {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--font-size-6xl);
}
.multiCurrencySwap1,
.products1 {
  position: relative;
  line-height: 100%;
  display: inline-block;
  flex-shrink: 0;
}
.products1 {
  font-size: var(--font-size-6xl);
  width: 121px;
  height: 29px;
}
.multiCurrencySwap1 {
  width: 219px;
}
.checkout,
.multiCurrencySwap1,
.payonwebCard {
  font-weight: 500;
  height: 23px;
}
.checkout {
  position: relative;
  line-height: 100%;
  display: inline-block;
  width: 128px;
  flex-shrink: 0;
}
.payonwebCard {
  width: 169px;
}
.blog,
.payonwebCard,
.resources1,
.supportCenter {
  position: relative;
  line-height: 100%;
  display: inline-block;
  flex-shrink: 0;
}
.resources1 {
  font-size: var(--font-size-6xl);
  width: 143px;
  height: 29px;
}
.blog,
.supportCenter {
  font-weight: 500;
  width: 58px;
  height: 23px;
}
.supportCenter {
  width: 153px;
}
.productsParent {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.industries1,
.professionalServices,
.retail,
.travelHospitality {
  position: relative;
  line-height: 100%;
  display: inline-block;
  flex-shrink: 0;
}
.industries1 {
  font-size: var(--font-size-6xl);
  width: 137px;
  height: 29px;
}
.professionalServices,
.retail,
.travelHospitality {
  font-weight: 500;
  width: 186px;
  height: 23px;
}
.professionalServices,
.retail {
  width: 71px;
}
.professionalServices {
  width: 215px;
}
.frameParent {
  position: absolute;
  top: 906px;
  left: 499px;
  width: 776px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 72px;
}
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-100);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5),
    4px 4px 4px rgba(14, 179, 234, 0.2) inset;
  width: 350px;
  height: 350px;
}
.lowCost,
.transparentPricingAnd {
  position: absolute;
  top: 157px;
  left: 33px;
  line-height: 100%;
  font-weight: 500;
  display: inline-block;
  width: 151px;
  height: 37px;
}
.transparentPricingAnd {
  top: 226px;
  left: 31px;
  font-size: var(--font-size-xl);
  width: 289px;
  height: 92px;
}
.averagePrice12Icon {
  position: absolute;
  top: 35px;
  left: 31px;
  width: 90px;
  height: 90px;
  object-fit: cover;
}
.rectangleGroup {
  position: relative;
  width: 350px;
  height: 350px;
}
.seamlessSecure {
  position: absolute;
  top: 157px;
  left: 33px;
  line-height: 100%;
  font-weight: 500;
  display: inline-block;
  width: 287px;
  height: 37px;
}
.wallet2Icon {
  position: absolute;
  top: 35px;
  left: 31px;
  width: 91px;
  height: 90px;
  object-fit: cover;
}
.groupInner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-100);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5),
    4px 4px 4px rgba(14, 179, 234, 0.2) inset;
  width: 359px;
  height: 350px;
}
.regulatedLicensed {
  position: absolute;
  top: 157px;
  left: 28px;
  line-height: 100%;
  font-weight: 500;
  display: inline-block;
  width: 317px;
  height: 37px;
}
.groupDiv {
  position: relative;
  width: 359px;
  height: 350px;
}
.groupParent {
  position: absolute;
  top: 391px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 96px;
  font-size: var(--font-size-11xl);
}
.weOfferDigital {
  position: absolute;
  top: 233px;
  left: 5px;
  line-height: 100%;
  display: inline-block;
  width: 940px;
  height: 111px;
}
.yourStrategicPartner {
  margin-block-start: 0;
  margin-block-end: 7px;
}
.inDigitalPayments {
  margin: 0;
  color: var(--color-royalblue);
}
.yourStrategicPartnerContainer {
  top: 70px;
  left: 5px;
  font-size: 57px;
  width: 630px;
  height: 130px;
  color: #01b1e9;
}
.growYourRevenue1,
.whyPayonweb,
.yourStrategicPartnerContainer {
  position: absolute;
  line-height: 100%;
  display: inline-block;
}
.whyPayonweb {
  top: 0;
  left: 5px;
  font-size: 40px;
  font-weight: 500;
  color: var(--color-royalblue);
  width: 293px;
  height: 37px;
}
.growYourRevenue1 {
  top: 976px;
  left: 0;
  font-size: var(--font-size-6xl);
  font-family: var(--font-inter);
  color: var(--color-lavender);
  width: 316px;
  height: 54px;
}
.payonweb2 {
  position: absolute;
  top: 876px;
  left: 0;
  font-size: 50px;
  letter-spacing: -0.29px;
  font-family: var(--font-poppins);
  color: var(--colors-heading);
  text-align: center;
}
.home31 {
  position: absolute;
  top: 0;
  left: -5px;
  width: 945px;
  height: 1030px;
  font-size: var(--font-size-16xl);
  color: #027ba1;
  font-family: var(--font-roboto);
}
.rectangleParent {
  position: absolute;
  top: 2682px;
  left: 131px;
  width: 940px;
  height: 344px;
  font-size: var(--font-size-xl);
  color: var(--color-lavender);
  font-family: var(--font-inter);
}
.dOnlinePaymentWithQrCodeIcon,
.marketPopularityOfNftStart {
  position: absolute;
  top: 2554px;
  left: 967px;
  width: 464.21px;
  height: 413px;
  object-fit: cover;
}
.dOnlinePaymentWithQrCodeIcon {
  top: 2016px;
  left: 945px;
  border-radius: var(--br-xl) var(--br-xl) 92px var(--br-xl);
  width: 450px;
  height: 300px;
}
.wrapperScoots1,
.wrapperTheGallery1 {
  position: relative;
  width: 298px;
  height: 170px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperTheGallery1 {
  width: 297px;
}
.wrapperScoots1Parent {
  position: absolute;
  top: 1668px;
  left: -82px;
  width: 4023px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.landingPage {
  position: relative;
  background-color: #e3f5ff;
  width: 100%;
  height: 4156px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-16xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
