@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Segoe+UI:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
  display: flex;
  justify-content: center;
  align-items: center;
}
*,
::before,
::after {
  border-width: 0;
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  width: max-content;
  padding: 100px;
}

.head-1{
  border: 1px solid black;
  padding: 0 10%;
  color: rgb(0, 115, 255);
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  text-align: left;
}

h3 {
  font-size: 25px;
}

.chain , .asset , .amount , .address{
  margin:  20px 0;
}

button{
  margin: 10px 0 0 0;
  padding: 10px;
  font-size: 15px;
  width: max-content;
  background-color: rgb(0, 115, 255);
  color: white;
  border-radius: 5px;
  border: 2px solid rgb(0, 115, 255);
  cursor: pointer;
}